<?xml version="1.0"?>
<launch>
  <arg name="use_gui" default="true" />

  <include file="$(find dobot_magician_description)/launch/load_dobot_magician.launch"/>

  <node if="$(arg use_gui)" name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find dobot_magician_description)/rviz/view_urdf.rviz"  required="true" />
</launch>
